p {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 16px;
}

.center {
    width: 50px; 
    height: auto;
}

.title {
    width: 100%; /* Ensures it takes full width */
    text-align: center; /* Centers all inline text inside */
}
.title h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 17px;
}