
body {
    background-color: rgb(135, 199, 199);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: Center;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
h3  {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
/*logo?*/
img {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*this is for the blue header that looks ugly*/
.header-banner {
    background-color: rgb(189, 219, 255); 
    color: black;
    text-align: center; 
    padding: 15px 40px; 
    font-family: 'Arial', sans-serif; 
    
}

.header-banner h1 {
    font-size: 3em; 
    margin: 0; 
}

.header-banner p {
    font-size: 1.5em; 
    margin: 5px 0 0; 
}
/*This is for the menu in the home page*/
.selection {
    text-align: right;
    font-family: 'Arial', sans-serif;  
}

.selection li {
    text-align: right;
    font-family: 'Arial', sans-serif;  
}

.selection a {
    color: #000000; 
    text-decoration: none; 
    font-family: 'Arial', sans-serif; 
    font-weight: bold; 
    display: inline-block;
    padding: 5px; 
}

.selection ul {
    list-style-type: none;
}

/*this is for the list of fav skaters*/
.fav-skate li {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: 28px;
}
/*Descriptions*/
desc p{
    font-size: 14px;
    font-family: 'Arial', sans-serif;
}

/*Images on the about webpage*/
.image-description {
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    text-align: center;
}
.a-images img {
    width: 250px;
    height: auto;
}
